<% if @items.empty? %>
  <li class='list'>
    <%= link_to '#' do %>
    <%= image_tag 'item-sample.png', class: "item-img" %>
    <div class='item-info'>
      <h3 class='item-name'>
        商品を出品してね！
      </h3>
      <div class='item-price'>
        <span>99999999円<br>(税込み)</span>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </div>
    </div>
    <% end %>
  </li>
<% end %>